@mixin cardDesign {
  width: 326px;
  background: #fff;
  border-radius: 7px;
  // Desktop
  @media (min-width: 1440px) {
    width: 728px;
    border-radius: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  width: 375px;
  // Desktop
  @media (min-width: 1440px) {
    width: 1440px;
  }

  .mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 18px;
    position: relative;
    bottom: 55px;
    // Desktop
    @media (min-width: 1440px) {
      gap: 26px;
      bottom: 92px;
      margin-bottom: 32px;
    }
  }

  .campaignsCard {
    @include cardDesign;
    padding: 36px 24px 20px 24px;

    // Desktop
    @media (min-width: 1440px) {
      padding: 46px 46px 20px 46px;
    }
  }
}
