.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  padding: 24px 24px;
  background: transparent;
  @media (min-width: 992px) {
    padding: 12px 64px;
    margin: 36px 0;
    z-index: 1;
  }
  @media (min-width: 1440px) {
    padding: 12px 164px;
  }

  .logo {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    @media (min-width: 992px) {
      color: #fef8f0;
    }
  }

  .menuIcon {
    cursor: pointer;
    fill: white;
    margin-bottom: 6px;
    @media (min-width: 992px) {
      display: none;
    }
  }

  .links {
    width: 225px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #fffeff;
    cursor: pointer;
    @media (max-width: 992px) {
      display: none;
    }
  }

  .logoActive,
  .linksActive {
    color: #000;
  }

  .menuIconActive {
    fill: #000;
  }
}

.active {
  background: #fff;
  padding: 16px 24px;
  z-index: 1;
  @media (min-width: 992px) {
    padding: 24px 64px;
    margin: 0;
  }
  @media (min-width: 1440px) {
    padding: 24px 164px;
  }
}
