.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #aaa;
  width: 375px;
  position: fixed;
  padding: 24px 24px;
  background: transparent;
  // Desktop
  @media (min-width: 1440px) {
    width: 1440px;
    padding: 48px 164px;
    z-index: 1;
  }

  .logo {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    @media (min-width: 1440px) {
      // Desktop
      color: #fef8f0;
    }
  }

  .burgerMenu {
    @media (min-width: 1440px) {
      display: none;
    }
  }

  .links {
    width: 225px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #fffeff;
    cursor: pointer;

    @media (max-width: 1440px) {
      display: none;
    }
  }
}
