@import "../../style.scss";

.pledgeCard,
.pledgeCardSelected {
  border: 1px solid #d5d0d0;
  border-radius: 7px;
  padding: 20px 22px 16px 22px;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 24px;
  @media (min-width: 992px) {
    padding: 24px 26px 24px 27px;
    position: relative;
  }
}

.pledgeCardSelected {
  border: 2px solid $primary-color;
}

.inputAndLabel {
  display: flex;
  align-items: center;
  padding-top: 12px;
  margin-bottom: 34px;
  @media (min-width: 992px) {
    margin-bottom: 0;
    padding-bottom: 22px;
  }
  @media (min-width: 1440px) {
    padding-bottom: 8px;
  }
}

input[type="radio"] {
  border: 1px solid #d5d0d0;
  border-radius: 50%;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  margin-right: 16px;
  outline: none;
  cursor: pointer;
  @media (min-width: 992px) {
    width: 24px;
    height: 24px;
    margin-right: 25px;
  }
  &:hover {
    box-shadow: 0 0 5px 0px $primary-color inset;
  }
  &:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
    @media (min-width: 992px) {
      margin: 20% 22%;
    }
  }
  &:checked:before {
    background: $primary-color;
  }
}

.noProduct {
  font-weight: 700;
  @media (min-width: 992px) {
    font-size: 16px;
  }
  @media (min-width: 1440px) {
    padding-right: 18px;
    padding-bottom: 10px;
  }
}

.description {
  @include pledgeDescription;
}

.noRewardPledgeCard {
  text-align: center;
  padding: 24px 0 10px 0;
  margin: 10px -22px 0 -22px;
  border-top: 1px solid #d5d0d0;
  @media (min-width: 992px) {
    margin-top: 24px;
  }
  @media (min-width: 1440px) {
    margin: 24px -27px 0 -27px;
    padding: 24px 27px 0 27px;
  }
}
.noRewardPledgeButton {
  @include pledgeButton;
}
