@import "../../style.scss";
@import "../../pages/Project.module.scss";

.backProjectCard {
  height: 284px;
  @include cardDesign;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 54px 26px 0 26px;
  @media (min-width: 992px) {
    height: 250px;
  }
  @media (min-width: 1440px) {
    height: 266px;
  }

  .logo {
    position: absolute;
    top: -30px;
    left: 135px;
    @media (min-width: 992px) {
      left: 236px;
    }
    @media (min-width: 1440px) {
      left: 336px;
    }
  }

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    width: 200px;
    @media (min-width: 992px) {
      font-size: 22px;
      width: 600px;
    }
    @media (min-width: 1440px) {
      font-size: 28px;
      width: 600px;
    }
  }

  .description {
    font-size: 14px;
    color: $paragraph-color;
    margin-bottom: 26px;
    line-height: 24px;
    @media (min-width: 1440px) {
      font-size: 16px;
      margin-bottom: 36px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    width: 282px;
    @media (min-width: 992px) {
      width: 476px;
    }
    @media (min-width: 1440px) {
      width: 638px;
    }
  }

  .backProjectBtn {
    width: 216px;
    height: 56px;
    border-radius: 44px;
    border: none;
    color: #e1fbfb;
    background: $primary-color;
    font-family: $font-stack;
    font-weight: 700;
    &:hover {
      background: $hover-color;
    }
    // Desktop
    @media (min-width: 992px) {
      width: 204px;
    }
  }

  @media (max-width: 992px) {
    .bookmarkBtn {
      display: none;
    }
  }

  @media (min-width: 992px) {
    .bookmarkBtn {
      width: 176px;
      height: 56px;
      border-radius: 44px;
      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
    }
    .bookmark {
      font-family: $font-stack;
      font-weight: 700;
      color: #7d7d7d;
      margin-left: 16px;
    }
    .bookmarkIconMobile {
      display: none;
    }
  }
}
