// Override default variables before the import
// $body-bg: #000;
// $primary: yellow;
$info: #3cb4ab;

@import "~bootstrap/scss/bootstrap.scss";

$font-stack: "Commissioner", sans-serif;
$primary-color: #3cb4ab;
$hover-color: #157a74;
$paragraph-color: #959595;

@mixin center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin selectRewardBtn {
  width: 156px;
  height: 50px;
  border-radius: 24px;
  border: none;
  color: #e1fbfb;
  background: $primary-color;
  font-family: $font-stack;
  font-weight: 700;
  // Desktop
  @media (min-width: 1440px) {
    &:hover {
      background: $hover-color;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-stack;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
}

.modal-dialog {
  max-width: 326px;
  margin: 0 auto;

  // Desktop
  @media (min-width: 1440px) {
    max-width: 732px;
  }
}

.modal-content {
  border-radius: 10px;
  margin-bottom: 130px;
}

// .modal-backdrop {
//   background: linear-gradient(transparent, 40%, black);
// }

.progress-bar {
  border-radius: 14px;
}
