// Override default variables before the import
// $body-bg: #000;
// $primary: yellow;
$info: #3cb4ab;

@import "~bootstrap/scss/bootstrap.scss";

$font-stack: "Commissioner", sans-serif;
$primary-color: #3cb4ab;
$hover-color: #157a74;
$paragraph-color: #959595;

@mixin selectRewardBtn {
  width: 156px;
  height: 50px;
  border-radius: 24px;
  border: none;
  color: #e1fbfb;
  background: $primary-color;
  font-family: $font-stack;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background: $hover-color;
  }
}

@mixin pledgeButton {
  width: 114px;
  height: 44px;
  border-radius: 30px;
  background-color: $primary-color;
  color: #e1fbfb;
  border: none;
  font-weight: 500;
  &:hover {
    background-color: $hover-color;
  }
  @media (min-width: 1440px) {
    width: 108px;
  }
}

@mixin pledgeDescription {
  color: $paragraph-color;
  margin-bottom: 14px;
  line-height: 24px;
  @media (min-width: 992px) {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  @media (min-width: 1440px) {
    padding-left: 50px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-stack;
  // background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  width: 100%;
}

#root {
  width: 100%;
}

.modal-dialog {
  max-width: 326px;
  margin: 0 auto;
  @media (min-width: 992px) {
    max-width: 528px;
  }
  @media (min-width: 1440px) {
    max-width: 732px;
  }
}

.modal-content {
  border-radius: 10px;
  margin-bottom: 130px;
  @media (min-width: 1440px) {
    margin-bottom: 275px;
  }
}

.progress-bar {
  border-radius: 14px;
}
